<div class="entry">
    <div class="first">{{ entry.category }}</div>
    <div>{{ entry.item }}</div>
    <div>{{ entry.units }}</div>
    <div>{{ entry.amount }} ($)</div>
    <div>{{ entry.date }} (mm/dd/yy)</div>
</div>
